{% extends 'flatpages/default.html' %}
 
{% block title %} Postlist {% endblock title %}
 
{% block content %}
<h2>Вы действительно хотите удалить данную новость?</h2>
<table>
    <thead>
        <th>
            Title
        </th>
        <th>
            Author
        </th>
        <th>
            Date
        </th>
    </thead>
    <tr>
        <td>
            {{ post.title }}
        </td>
        <td>
            {{ post.author.name}}
        </td>
        <td>
            {{ post.created|date:'d M Y' }}
        </td>
    </tr>
</table>
 
<form method="POST">
    {% csrf_token %}
    <input type="submit" value="подтвердить"></form>
{% endblock content %} 